.cart-drawer {
  margin-right: 0;

  &__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  &__close {
    width: 1.4rem;
    height: 1.4rem;
  }

  &__checkout-button {
    max-width: 21.6rem;
    width: 100%;

    @media (min-width: 768px) {
      max-width: 27.4rem;
    }
  }

  &__subtotal {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
  }
}
