html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 4rem;
    line-height: 100%;
  }
}

h4 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
}

dialog {
  max-width: 43.3rem;  
  transition: display 1s allow-discrete, overlay 1s allow-discrete;
  animation: close 1s forwards;

  &[open] {
    animation: open 1s forwards;
  }
}